.information {
  width: 90%;
  max-width: 800px;
  margin-bottom: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.information h3 {
  color: #333;
  margin-bottom: 10px;
}

.information ul {
  padding-left: 20px;
}

.information a {
  color: #333;
  text-decoration: underline;
  transition: color 0.3s;
}

.information a:hover {
  color: #0056b3;
}

.information p {
  color: #333;
}
